appdirs
atomicwrites
attrs
bcrypt
black
cffi
Click
Flask
Flask-Login
Flask-SQLAlchemy
Flask-WTF
gunicorn
importlib-metadata
itsdangerous
jinja2~=3.0.3
MarkupSafe
more-itertools
packaging
passlib
pluggy
psycopg2-binary
py
pycodestyle
pycparser
pyparsing
pytest
six
SQLAlchemy
toml
wcwidth
Werkzeug
WTForms
zipp